@use './base/reset';
@use './components/header';
@use './components/home';
@use 'fonts';

body {
  background-color: #ffffff;
  font-family: 'Maza';
  color: #000000;
  min-height: 100vh; 
}

.container {
  margin-inline: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

main {
  min-height: 1000vh;
  flex: 1;
}

a,
button,
svg {
  transition: 0.2s;
}
