@use './base/reset';
@use './components/header';
@use 'fonts';
html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Maza';
  color: #000000;
}

a,
button {
  transition: 0.2s;
}
