@use './base/reset';
@use './components/header';
@use 'fonts';
html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Maza';
  color: #000000;
}

.container {
  margin-inline: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
}

a,
button,
svg {
  transition: 0.2s;
}
